* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  background-color: whitesmoke;
}
.wrapper .loginForm {
  width: 50rem !important;
  position: absolute;
  top: 50%;
  left: 6%;
  right: 6%;
  transform: translateY(-60%);
  resize: vertical;
}
